.header {
    background-color: var(--background-color);
    padding: 5px;
}

.header-nav__logo {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
}

.header-nav__menu {
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) {
.header-nav > .containar {
    display: flex;
}
}

.header-nav__menu {
    flex-direction: row;
}

.header-nav__menu-item {
    color: var(--text-color);
    text-decoration: none;
    
}





.header-banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    /*background-position: 50% 50%;*/
    background-position: center;
    /* background-repeat: no-repeat; */
    min-height: 400px;
}


.header-banner__h1 {
    text-transform: uppercase;
    color: red;
    padding: 10px;
    border: 1px solid blue;
    text-align: center;
}